body {
  background-color: #f0f0f0;
}
#reproductor_aspect {
  display: none;
}
#reproductor_jwpsrv {
  position: absolute;
  top: 0px;
  z-index: 10;
}
#reproductor_wrapper {
  position: relative;
  display: block;
  width: 100% !important;
  height: 400px;
}
.jwplayer {
  width: 100% !important;
}
